<div class="form-container">
  <form>
    <div>
      <label for="input1">Input 1:</label>
      <input id="input1" type="text" />
    </div>
    <div>
      <label for="input2">Input 2:</label>
      <input id="input2" type="text" />
    </div>
    <div>
      <label for="input3">Input 3:</label>
      <input id="input3" type="text" />
    </div>
    <div class="buttons-container">
      <button type="button" (click)="onButton1Click()">PID 1</button>
      <button type="button" (click)="onButton2Click()">PID 2</button>
      <button type="button" (click)="onButton3Click()">PID 3</button>
      <input id="side-input" type="text" placeholder="Iteration" />
    </div>
  </form>
</div>
